:root {
  --carousel-arrow-size: 3rem;
}

.slick-prev,
.slick-next {
  width: var(--carousel-arrow-size);
}

.slick-prev::before,
.slick-next::before {
  font-size: var(--carousel-arrow-size);
  opacity: 0.4;
  color: rgb(var(--foreground-rgb));
}

.slick-prev:focus::before,
.slick-next:focus::before,
.slick-prev:hover::before,
.slick-next:hover::before {
  opacity: 0.6;
}

.slick-prev {
  left: calc(-0.6rem - var(--carousel-arrow-size));
}

.slick-next {
  right: calc(-0.6rem - var(--carousel-arrow-size));
}

@media (min-width: 1080px) {
  .slick-prev {
    left: calc(-2rem - var(--carousel-arrow-size));
  }
  
  .slick-next {
    right: calc(-2rem - var(--carousel-arrow-size));
  }
}

.slick-dots {
  bottom: -1rem;
}

.slick-dots li button::before {
  font-size: 1rem;
  opacity: 0.1;
  color: rgb(var(--foreground-rgb));
}

.slick-dots li.slick-active button::before {
  font-size: 1rem;
  opacity: 0.5;
  color: rgb(var(--foreground-rgb));
}

.slick-dots li:hover button::before {
  opacity: 0.7;
}
